main {
  width: 100%;
  height: 20rem;
  position: relative;
}
#consulting main {
  background: url("../../img/consulting1.jpg") no-repeat;
  background-size: cover;
  background-position: right 60%;
}
.main-text {
  width: calc(100% - 8rem);
  max-width: 1200px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-text h2 {
  opacity: 0;
  color: #fff;
  animation: maintextH2 0.6s 0.3s ease forwards;
}
@keyframes maintextH2 {
  0% {
    opacity: 0;
    transform: translate(0, 8rem) rotate(10deg);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@media screen and (max-width: 1023px) {
  main {
    height: 16rem;
  }
  .main-text {
    top: 64%;
    width: calc(100% - 4rem);
  }
}
@media screen and (max-width: 767px) {
  .main-text {
    width: calc(100% - 2rem);
  }
}
section {
  width: 100%;
  padding: 0 4rem;
  margin: 4rem 0;
}
.consulting {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.consulting-agree {
  padding: 0;
  border: 1px solid #ced6e0;
  border-radius: 1rem;
  height: 24rem;
  /* height: 32rem; */
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.agree-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding: 2rem 0;
  flex-grow: 0;
}
.agree-text-container {
  flex-grow: 1;
  overflow: hidden;
}
.agree-text {
  height: 100%;
  overflow: auto;
  padding: 2rem 4rem;
  background-color: rgb(248, 250, 252);
}
.agree-text p {
  line-height: 1.65;
  word-break: keep-all;
}
.agree-text .title {
  line-height: 1.65;
  font-weight: 600;
}
.agree-text .title.terms-top-margin {
  margin-top: 3rem;
}
.agree-text .sub-title {
  padding-top: 1rem;
}
#spreadTerms {
  font-weight: 500;
  cursor: pointer;
  background-color: white;
  height: 4rem;
  flex-shrink: 0;
}
#spreadTerms:hover {
  background-color: rgb(236, 236, 236);
}
.consulting-title {
  height: 6rem;
}
.terms-spread {
  height: fit-content;
}
@media screen and (max-width: 1023px) {
  section {
    padding: 0 2rem;
    margin: 4rem 0;
  }
  .agree-title {
    padding: 1.75rem 0;
  }
  .agree-text {
    padding: 2rem;
  }
}
@media screen and (max-width: 767px) {
  section {
    padding: 0 1rem;
    margin: 2rem 0;
  }
  .agree-title {
    padding: 1.5rem 0;
  }
  .agree-text {
    padding: 2rem 1rem;
  }
}
/* 입력 폼 */
.consulting-contents {
}
.consulting-contents .consulting-description {
  margin: 3rem auto;
  text-align: center;
}
.contactUs-contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}
.contactUs-contents .form-group {
  display: flex;
  align-items: center;
}
.contactUs-contents .form-group input:not([type="checkbox"]) {
  flex-grow: 1;
  /* background-color: aqua; */
}
.contactUs-contents .form-checkgroup {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem 2rem;
}
.contactUs-contents .form-group input[type="checkbox"] {
  margin-right: 0.5rem;
}
.contactUs-contents .form-group > label {
  width: 10rem;
  /* white-space: nowrap; */
  font-weight: 500;
}
.contactUs-contents .form-group span.red {
  padding-left: 0.4rem;
}
.contactUs-contents .form-checkgroup label {
  /* padding-left: 0.4rem; */
  white-space: nowrap;
  cursor: pointer;
}
.contactUs-contents textarea {
  height: 8rem;
  resize: none;
  flex-grow: 1;
}
.contactUs-contents .password-input {
  position: relative;
}
.contactUs-contents .password-input span {
  position: absolute;
  right: 1rem;
}
.agree-check {
  padding: 2rem 0;
}
.agree-check input[type="checkbox"] {
  margin-left: 1rem;
}
.contactUs-contents button {
  /* margin-top: 2rem; */
}
@media screen and (max-width: 1365px) {
}
@media screen and (max-width: 1023px) {
  .contactUs-contents .form-checkgroup {
    grid-template-columns: repeat(3, 1fr);
  }
  .agree-check {
    padding: 1rem 0;
  }
}
@media screen and (max-width: 767px) {
  .contactUs-contents {
    gap: 1rem;
  }
  .contactUs-contents .form-group {
    flex-direction: column;
  }
  .contactUs-contents .form-group > label,
  .contactUs-contents .form-group input:not([type="checkbox"]),
  .contactUs-contents textarea {
    width: 100%;
  }
  .contactUs-contents .form-checkgroup {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 1rem 2rem; */
    gap: 1.25rem 2rem;
  }
  .contactUs-contents .form-group > label {
    margin: 0.75rem 0;
  }
  .agree-check {
    padding: 0.5rem 0;
  }
  #consulting-submit {
    margin-bottom: 3rem;
  }
}
#alert-notice,
#alert-loading,
#alert-complete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.2);
}
#alert-notice {
  display: none;
}
#alert-loading {
  display: none;
}
#alert-complete {
  display: none;
}
#alert-notice .alert-warning-content,
#alert-loading .alert-loading-content,
#alert-complete .alert-complete-content {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  backdrop-filter: blur(20px);
}
#alert-notice .alert-warning-content span,
#alert-loading .alert-loading-content span,
#alert-complete .alert-complete-content span {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  font-size: 1.125rem;
  text-align: center;
  font-weight: 500;
}
#alert-notice .alert-warning-content span {
  margin: 2rem 0;
}
#alert-loading .alert-loading-content span {
  margin: 2rem 0;
}
#alert-complete .alert-complete-content span {
  margin-bottom: 2rem;
}
#alert-notice .alert-warning-content div,
#alert-complete .alert-complete-content-btns div {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0 1.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: 400;
  font-size: 1rem;
  width: 100%;
  height: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
#alert-notice .alert-warning-content div:hover,
#alert-complete .alert-complete-content-btns div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#alert-complete .alert-complete-content .alert-icon {
  width: 6rem;
  padding: 0 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
#alert-complete .alert-complete-content img {
  width: 100%;
}
#alert-complete .alert-complete-content-btns {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}
.homebtn {
  z-index: 700;
}
