main {
  width: 100%;
  height: 20rem;
  background: url("../../img/IoT.jpg") no-repeat;
  background-size: cover;
  background-position: center 70%;
  position: relative;
}
.main-text {
  width: calc(100% - 8rem);
  max-width: 1200px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-text h2 {
  opacity: 0;
  color: #fff;
  animation: maintextH1 0.6s 0.3s ease forwards;
}
@keyframes maintextH1 {
  0% {
    opacity: 0;
    transform: translate(0, 8rem) rotate(10deg);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.main-text h6 {
  color: #fff;
  font-weight: 300;
  padding-top: 0.5rem;
  opacity: 0;
  transform: translateY(3rem);
  transition: opacity 0.5s, transform 0.5s;
  animation: maintextH5 0.6s 0.5s ease forwards;
}
@keyframes maintextH5 {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 0.8;
    transform: translateY(0);
  }
}
/* 1024px 미만 적용 */
@media screen and (max-width: 1023px) {
  .main-text {
    width: calc(100% - 4rem);
  }
  .main-text h1 {
    font-size: 3rem;
  }
  .main-text h5 {
    padding-top: 1rem;
  }
}
/* 768px 미만 적용 */
@media screen and (max-width: 767px) {
  .main-text {
    width: calc(100% - 2rem);
  }
}
/* 키포인트 */
.key-point {
  width: 100%;
  padding: 0 4rem;
  margin: 6rem 0;
}
.keyPoint-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  align-items: center;
}
.keyPoint-title {
  width: 80%;
  text-align: center;
}
.keyPoint-contents {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
  row-gap: 4rem;
}
.keyPoint-title h2 {
  padding-bottom: 2rem;
  letter-spacing: -0.1rem;
}
.keyPoint-box {
  display: flex;
  align-items: center;
}
.keyPoint-icon {
  width: 6rem;
  padding: 1.25rem;
  /* background-color: #ee3a3d; */
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
  flex-shrink: 0;
}
.keyPoint-icon.keypoint-icon-blue {
  background-color: #e8f8ff;
}
.keyPoint-icon.keypoint-icon-green {
  background-color: #e8ffe0;
}
.keyPoint-icon.keypoint-icon-red {
  background-color: #fff0f6;
}
.keyPoint-icon.keypoint-icon-viloet {
  background-color: #e9ecff;
}
.keyPoint-icon img {
  width: 100%;
}
.keyPoint-text {
  flex-grow: 1;
}
.keyPoint-text h5 {
  padding-bottom: 0.25rem;
  font-weight: 700;
}
.keyPoint-text .text-xl {
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.7);
}
/* 1024px 미만 적용 */
@media screen and (max-width: 1023px) {
  .key-point {
    padding: 0 2rem;
    margin: 4rem 0;
  }
  .keyPoint-title {
    width: 90%;
  }
  .keyPoint-contents {
    grid-template-columns: repeat(1, 5fr);
    column-gap: 2rem;
    row-gap: 2rem;
  }
  .keyPoint-box {
    padding-bottom: 0;
  }
  .keyPoint-icon {
    width: 6rem;
  }
}
/* 768px 미만 적용 */
@media screen and (max-width: 767px) {
  .key-point {
    padding: 0 1rem;
  }
  .keyPoint-title h5 {
    line-height: 1.65;
  }
  .keyPoint-container {
    gap: 6rem;
  }
  .keyPoint-title {
    width: 100%;
  }
  .keyPoint-icon {
    width: 4.5rem;
    padding: 1rem;
    margin-right: 1rem;
  }
}
/* 제품소개 */
.square {
  width: 100%;
  height: 32rem;
  max-height: 1080px;
  position: relative;
}
.square-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.square-contents {
  width: 25%;
  height: 100%;
  position: relative;
  transition: width 0.5s ease;
  /* background-color: #12336e; */
  padding: 4rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.square-container > :nth-child(1) {
  background: url("../../img/square1.jpg") no-repeat;
  background-size: cover;
  background-position: 20% center;
}
.square-container > :nth-child(2) {
  background: url("../../img/square2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.square-container > :nth-child(3) {
  background: url("../../img/square3.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.square-container > :nth-child(4) {
  background: url("../../img/square4.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.square-container > :nth-child(5) {
  background: url("../../img/square5.jpg") no-repeat;
  background-size: cover;
  background-position: 30% center;
}
.square-contents > :first-child {
  width: 100%;
  height: 100%;
  filter: opacity(0.6);
  transition: background-color 0.3s ease;
}
.square-contents .filter1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(10, 43, 104);
}
.square-contents .filter2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(16, 66, 107);
  z-index: 10;
}
.square-contents .filter3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #012d58;
  z-index: 10;
}
.square-contents .filter4 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0f4674;
  z-index: 10;
}
.square-contents .filter5 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(13, 44, 102);
  z-index: 10;
}
.square-contents h4 {
  height: 4.5rem;
  width: 100%;
  color: #fff;
  transition: opacity 0.3s ease;
  position: relative;
  z-index: 400;
}
.square-line {
  width: 100%;
  height: 1px;
  margin: 2rem 0;
  background-color: #fff;
  opacity: 0.3;
  transition: opacity 0.3s ease;
  position: relative;
  z-index: 400;
}
.square-text {
  width: 100%;
  height: 14rem;
  flex-grow: 1;
  transition: opacity 0.3s ease;
  position: relative;
  z-index: 400;
}
.square-text .text-lg {
  color: #fff;
  line-height: 1.65;
}
.square-text p {
  line-height: 1.65;
  font-size: 1.125rem;
  font-weight: 300;
  word-break: keep-all;
  letter-spacing: -0.025rem;
  width: 100%;
  color: #fff;
  padding-top: 1.25rem;
  opacity: 0;
  transition-delay: 100ms;
  transition: opacity 0.2s 0.5s ease, transform 0.5s 0.5s ease;
  position: relative;
  z-index: 400;
}
/* .square-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  border: 1px solid #fff;
  color: #fff;
  padding: 0;
  position: relative;
  z-index: 400;
} */
/* .square-btn {
  width: 100%;
  font-size: 1rem;
  color: #fff;
  transition: color 0.3s ease;
} */
.square-contents:hover {
  width: 50%;
}
.square-contents:hover > .square-text p {
  opacity: 1;
}
.square-container:hover .square-contents:not(:hover) button,
.square-container:hover .square-contents:not(:hover) .square-line,
.square-container:hover .square-contents:not(:hover) .square-text {
  opacity: 0;
}
/* 1024 이상 적용 */
@media (min-width: 1024px) {
  .square-contents:hover > :first-child {
    background-color: #011936;
    filter: opacity(1);
  }
  .square-contents button:hover {
    background-color: #fff;
  }
  .square-contents button:hover a {
    color: #011936;
  }
}
/* 1024px 미만 적용 */
@media screen and (max-width: 1023px) {
  .square {
    height: initial;
    max-height: initial;
  }
  .square-container {
    flex-direction: column;
    /* display: block; */
  }
  .square-container > :nth-child(1) {
    background-position: center 26%;
  }
  .square-container > :nth-child(2) {
    background-position: center 85%;
  }
  .square-container > :nth-child(3) {
    background-position: center 25%;
  }
  .square-container > :nth-child(4) {
    background-position: center 42%;
  }
  .square-container > :nth-child(5) {
    background: url("../../img/square5-2.jpg") no-repeat;
    background-size: cover;
    background-position: center 40%;
  }
  .square-contents {
    width: 100%;
    height: 20rem;
    align-items: flex-start;
  }
  .square-contents > :first-child {
    filter: opacity(0.8);
  }
  .square-line {
    display: none;
  }
  .square-contents h4 {
    margin-bottom: 1rem;
  }
  .square-text p {
    opacity: 1;
  }
  .square-contents button {
    height: 6rem;
    border: 0;
  }
  .square-contents:hover {
    width: 100%;
  }
  .square-contents:hover > .square-text p {
    opacity: 1;
  }
  .square-container:hover .square-contents:not(:hover) button,
  .square-container:hover .square-contents:not(:hover) .square-text {
    opacity: 1;
  }
  .square-contents .filter1 {
    background-color: #12336e;
  }
  .square-contents .filter2 {
    background-color: #6091c5;
  }
  .square-contents .filter3 {
    background-color: #2e4c7b;
  }
  .square-contents .filter4 {
    background-color: #183e78;
  }
  .square-contents .filter5 {
    background-color: #4f7fb6;
  }
  .square-contents button {
    background-color: white;
  }
  .square-contents button a {
    color: #011936;
    font-weight: 500;
  }
}
/* 768px 미만 적용 */
@media screen and (max-width: 767px) {
  .square-contents {
    height: 16rem;
    padding: 3rem 1rem;
  }
}
/* PMS 솔루션 */
.pms-solution {
  width: 100%;
  height: 60rem;
  max-height: 1200px;
  position: relative;
}
.pms-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  pointer-events: none;
  z-index: -1;
}
.pms-background > :first-child {
  width: 55%;
  background: url("../../img/pmsBackground.jpg") no-repeat;
  background-size: cover;
}
.pms-background > :last-child {
  width: 45%;
  background-color: #011936;
}
.pms-container {
  height: 60rem;
  max-height: 1200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pms-text {
  width: 40%;
  margin: 0;
  padding: 0 4rem;
}
.pms-text h2,
.pms-text h2 span {
  letter-spacing: -0.1rem;
  padding-bottom: 1rem;
  word-break: keep-all;
}
.pms-solution small {
  word-break: keep-all;
  line-height: 1.5;
}
.pms-title {
  padding-top: 2rem;
}
.pms-title .title-box {
  display: flex;
  align-items: center;
  margin: 1.6rem 0;
}
.title-box p,
.title-box p span {
  transition: color 0.5s ease;
  cursor: pointer;
}
.title-box .bar {
  padding-right: 1rem;
  opacity: 0;
}
.title-box.title-active p,
.title-box.title-active p span {
  color: #ee3a3d;
  /* font-weight: 500; */
}
.title-box.title-active .bar {
  color: #ee3a3d;
  opacity: 1;
}
.pms-title .flex-basic {
  display: flex;
  gap: 0.5rem;
  padding-top: 2rem;
}
.pms-title .flex-basic i {
  width: 4rem;
  height: 4rem;
}
.icon-arrow-left::before {
  font-size: 1.5rem;
  margin-right: 0.25rem;
}
.icon-arrow-right::before {
  font-size: 1.5rem;
  margin-left: 0.25rem;
}
.pms-title .icon {
  width: 6rem;
  height: 6rem;
  border: 1px solid #011936;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.pmsSwiper-container {
  width: 60%;
  height: 36rem;
  overflow: hidden;
  position: relative;
}
.pmsSwiper-container .swiper-wrapper {
  align-items: end;
}
.pmsSwiper-container .swiper-slide {
  background-color: #fff;
  padding: 4rem 2rem;
  height: 80%;
  transition: height 0.8s ease, background-color 1s ease;
  display: flex;
  align-items: flex-end;
  cursor: grab;
}
.pmsSwiper-container .swiper-slide img {
  width: 5rem;
  height: 5rem;
  filter: contrast(0.3);
  transition: all 0.5s ease;
}
.pmsSwiper-container .swiper-slide h4 {
  color: #939fb2;
  /* font-size: 1.8rem; */
  padding: 1rem 0 0.5rem 0;
}
.pmsSwiper-container .swiper-slide small {
  color: #939fb2;
}
.pmsSwiper-container .swiper-slide p {
  color: #fff;
  opacity: 0;
  height: 3rem;
  max-width: 40rem;
  font-size: 1.125rem;
}
.pmsSwiper-container .swiper-slide-active {
  height: 100%;
  background-color: #ee3a3d;
  align-items: center;
}
.pmsSwiper-container .swiper-slide-active img {
  width: 6rem;
  height: 6rem;
  filter: invert();
}
.pmsSwiper-container .swiper-slide-active h4 {
  color: #fff;
  /* font-size: 2.3rem; */
  padding: 3rem 0 0.5rem 0;
}
.pmsSwiper-container .swiper-slide-active small {
  color: #fff;
}
.pmsSwiper-container .swiper-slide-active p {
  padding-top: 2rem;
  opacity: 1;
  height: auto;
}
.pmsSwiper-container .swiper-pagination,
.swiper-button-next,
.swiper-button-prev {
  display: none;
}
.pms-br {
  display: none;
}
/* 1640px 미만 적용 */
@media screen and (max-width: 1635px) {
  .pms-title {
    padding-top: 2rem;
  }
  .pms-br {
    display: block;
  }
}
/* 1366px 미만 적용 */
@media screen and (max-width: 1365px) {
  .pmsSwiper-container .swiper-slide {
    padding: 3rem;
  }
}

/* 1024px 미만 적용 */
@media screen and (max-width: 1023px) {
  .pms-solution {
    height: initial;
    max-height: initial;
  }
  .pms-background > :first-child {
    width: 100%;
  }
  .pms-background > :last-child {
    display: none;
  }
  .pms-container {
    height: initial;
    max-height: initial;
    display: block;
    padding: 10rem 0;
  }
  .pms-text {
    width: 100%;
    max-width: initial;
    padding: 0 2rem 2rem;
  }
  .pms-title {
    padding: 0;
  }
  .pms-title .title-box {
    display: none;
  }
  .pms-title .icon {
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
  }
  .pmsSwiper-container {
    width: 100%;
    height: 32rem;
    padding-left: 2rem;
  }
  .pmsSwiper-container .swiper-slide-active h4 {
    padding-top: 1rem;
    padding-bottom: 0;
  }
  .pmsSwiper-container .swiper-slide-active p {
    padding-top: 1rem;
  }
}
/* 768px 미만 적용 */
@media screen and (max-width: 767px) {
  .pms-text {
    padding: 0 1rem 2rem;
  }
  .pmsSwiper-container {
    padding: 0 1rem;
    height: 28rem;
  }
}
/* 자주묻는질문 */
.QnA {
  width: 100%;
  padding: 14rem 4rem;
}
.qna-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
.qna-title {
  width: 30%;
  margin-right: 4rem;
  text-align: left;
}
.qna-contents {
  width: 70%;
  height: 100%;
}
.qna-contents > :first-child {
  border-top: 1px solid #ced6e0;
}
.accordionQ {
  padding: 1rem 0;
  border-bottom: 1px solid #ced6e0;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.accordionQ.active {
  color: #ee3a3d;
}
.accordionQ .icon {
  font-size: 2rem;
  padding: 1rem;
  transition: all 0.3s ease;
  margin: 0 1rem;
}
.accordionQ.active .icon {
  transform: rotate(90deg);
  padding: 1rem;
  color: #ee3a3d;
  /* font-weight: bold; */
}
.accordionA {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease;
}
.accordionA > p {
  padding: 2rem 1.5rem;
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
}
/* 1024px 미만 적용 */
@media screen and (max-width: 1023px) {
  .QnA {
    width: 100%;
    padding: 6rem 2rem;
  }
  .qna-container {
    display: block;
  }
  .qna-title {
    text-align: left;
    width: 100%;
    padding-bottom: 4rem;
  }
  .qna-contents {
    width: 100%;
  }
  .accordionQ {
    padding: 1rem 0;
  }
}
/* 768px 미만 적용 */
@media screen and (max-width: 767px) {
  .QnA {
    padding: 4rem 1rem;
  }
  .accordionQ .icon {
    margin: 0;
  }
}
