@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
/* @import url(https://fonts.googleapis.com/css2?family=Material + Symbols + Outlined); */
/* @import url(
  https://fonts.googleapis.com/css2?family=Material + Symbols + Outlined:opsz,
  wght,
  FILL,
  GRAD@20..48,
  100.7,
  0.1,
  -50.2
); */
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

html {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  /* font-family: "Roboto", "nanumsquare", sans-serif; */
  font-family: "Spoqa Han Sans Neo", "sans-serif", "serif", "standard";
  letter-spacing: -0.05rem;
  color: #011936;
  word-break: break-all;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* font-size: clamp(1.4rem, 1.4vw, 1.6rem); */
}
h1 {
  font-family: "NanumSquare", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  /* font-size: 3.75rem; */
  line-height: 1.25;
  /* line-height: 1; */
  /* font-size: clamp(5.6rem, 5.6vw, 6rem); */
  /* line-height: clamp(6.2rem, 6.2vw, 6.6rem); */
  text-transform: capitalize;
  word-break: keep-all;
}
h2 {
  font-family: "NanumSquare", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.25;
  word-break: keep-all;
  /* line-height: 1rem; */
  /* line-height: 2.5rem; */
  /* font-size: clamp(3.6rem, 3.6vw, 4rem); */
  text-transform: capitalize;
}
h3 {
  font-family: "NanumSquare", sans-serif;
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 1.25;
  word-break: keep-all;
}
h4 {
  /* font-family: "NanumSquareNeo"; */
  font-size: 1.875rem;
  line-height: 1.25;
  font-weight: 500;
  word-break: keep-all;
}
h5 {
  font-size: 1.5rem;
  /* line-height: 2rem; */
  font-weight: 500;
  word-break: keep-all;
}
h6 {
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: -0.025rem;
  font-weight: 500;
  word-break: keep-all;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.65;
  letter-spacing: -0.025rem;
  word-break: keep-all;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.65;
  letter-spacing: -0.025rem;
  word-break: keep-all;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25;
  word-break: keep-all;
}
@media screen and (max-width: 1023px) {
  h1 {
    /* font-size: 3rem; */
    font-size: 3.75rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1.125rem;
  }
  .text-xl {
    font-size: 1.125rem;
  }
  .text-lg {
    font-size: 1rem;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }
}
ul,
li {
  list-style: none;
}
small {
  font-size: clamp(1.2rem, 1.2vw, 1.3rem);
  line-height: clamp(1.2rem, 1.2vw, 1.3rem);
}
.sub-text {
  font-size: clamp(1.4rem, 1.4vw, 1.6rem);
  color: #31456a;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  /* font-size: clamp(1.4rem, 1.4vw, 1.6rem); */
  text-decoration: none;
  /* color: #011936; */
}
img {
  object-fit: cover;
}
button {
  text-transform: uppercase;
  padding: 0 2rem;
  height: 4rem;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 2px 2px 3px rgba(76, 87, 125, 0.1);
  transition: all ease 0.3s;
  background: transparent;
  border: 1px solid #31456a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1.3rem, 1.3vw, 1.4rem);
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (hover: hover) {
  button:hover {
    background: #31456a;
    color: #f1f2f6;
  }
}
.btn-small {
  height: auto;
  padding: 0.3rem 0.7rem;
  font-size: clamp(1.2rem, 1.2vw, 1.3rem);
  font-weight: 100;
}

input,
select {
  filter: none;
  height: 4rem;
  padding: 0 1rem;
  font-size: clamp(1.4rem, 1.4vw, 1.6rem);
  background-color: #f1f2f6;
  border: 1px solid #31456a;
  border-radius: 0.4rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  padding: 0;
  border-radius: 0.2rem;
  color: #f1f2f6;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]::before {
  content: "✓";
  overflow: hidden;
  transform: scale(0);
  line-height: 0.7;
}

input[type="checkbox"]:hover {
  border-color: #011936;
}

input[type="checkbox"]:checked {
  background-color: #31456a;
  color: #f1f2f6;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="radio"] {
  width: 15px;
  height: 15px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease;
}

input[type="radio"]:hover {
  border-color: #011936;
}

input[type="radio"]:checked {
  border: 3px solid #31456a;
}

input:not([type="checkbox"], [type="radio"]):focus,
select:focus {
  border: 1px solid #31456a;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-out-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* autofocus 아웃라인 제거 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #31456a !important;
}

input::-webkit-input-placeholder {
  font-size: 1.3rem;
  color: #939fb2;
}

input:-ms-input-placeholder {
  font-size: 1.3rem;
  color: #939fb2;
}

textarea::-webkit-input-placeholder {
  font-size: 1.3rem;
  color: #939fb2;
}

textarea:-ms-input-placeholder {
  font-size: 1.3rem;
  color: #939fb2;
}

select::-ms-expand {
  display: none;
}

textarea {
  filter: none;
  height: 3.6rem;
  padding: 1rem;
  font-size: clamp(1.4rem, 1.4vw, 1.6rem);
  background-color: #f1f2f6;
  border: 1px solid #31456a;
  border-radius: 0.4rem;
  transition: all 0.3s ease;
}

label {
  font-size: clamp(1.2rem, 1.2vw, 1.3rem);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 15px;
  background-color: #ced6e0;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #939fb2;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.icon {
  cursor: pointer;
}

.oswald {
  font-family: "Oswald", "NanumSquare", sans-serif;
}

/* 768px 이하 안보임 */
.hide768,
/* 1024px 이하 안보임 */
.hide1024,
/* 1366px 이하 안보임 */
.hide1366 {
  display: inline-block;
}

.show {
  display: block !important;
}

/* 768px 이하부터 보임 */
.show768,
/* 1024px 이하부터 보임 */
.show1024,
/* 1366px 이하부터 보임 */
.show1366 {
  display: none;
}

.hide {
  display: none !important;
}

.flex-flex {
  display: flex;
  justify-content: space-between;
}

.flex-basic {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.thin {
  font-weight: 300;
}
.normal {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
  padding-left: 0.4rem;
}

.text-right {
  text-align: right;
  padding-right: 0.4rem;
}

.b-color {
  color: #011936;
}

.t-color {
  color: #31456a;
}

.s-color {
  color: #939fb2;
}

.ss-color {
  color: #ced6e0;
}

.l-color {
  color: #f1f2f6;
}

.skyBlue {
  color: #5bc3ed;
  fill: #5bc3ed;
}

.red {
  color: #ee3a3d !important;
  fill: #ee3a3d !important;
}

.blur {
  opacity: 0.5;
}

.scroll-stop {
  width: 100%;
  position: fixed;
  overflow: hidden;
}

.dark-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.dark-lighter-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.light-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
}

.col-w100 {
  width: 100%;
}

.col-w95 {
  width: 95%;
}

.col-w90 {
  width: 90%;
}

.col-w85 {
  width: 85%;
}

.col-w80 {
  width: 80%;
}

.col-w75 {
  width: 75%;
}

.col-w70 {
  width: 70%;
}

.col-w65 {
  width: 65%;
}

.col-w60 {
  width: 60%;
}

.col-w55 {
  width: 55%;
}

.col-w50 {
  width: 50%;
}

.col-w45 {
  width: 45%;
}

.col-w40 {
  width: 40%;
}

.col-w35 {
  width: 35%;
}

.col-w30 {
  width: 30%;
}

.col-w25 {
  width: 25%;
}

.col-w20 {
  width: 20%;
}

.col-w15 {
  width: 15%;
}

.col-w10 {
  width: 10%;
}

.col-w5 {
  width: 5%;
}

.col-w0 {
  width: 0%;
}

.col-260 {
  width: 260px;
}

.col-240 {
  width: 240px;
}

.col-220 {
  width: 220px;
}

.col-200 {
  width: 200px;
}

.col-190 {
  width: 190px;
}

.col-180 {
  width: 180px;
}

.col-170 {
  width: 170px;
}

.col-160 {
  width: 160px;
}

.col-150 {
  width: 150px;
}

.col-140 {
  width: 140px;
}

.col-130 {
  width: 130px;
}

.col-120 {
  width: 120px;
}

.col-110 {
  width: 110px;
}

.col-100 {
  width: 100px;
}

.col-90 {
  width: 90px;
}

.col-80 {
  width: 80px;
}

.col-70 {
  width: 70px;
}

.col-60 {
  width: 60px;
}

.col-55 {
  width: 55px;
}

.col-50 {
  width: 50px;
}

.col-40 {
  width: 40px;
}

.col-30 {
  width: 30px;
}

.col-20 {
  width: 20px;
}

.col-10 {
  width: 10px;
}

.mr-20 {
  margin-right: 2rem;
}
.mr-15 {
  margin-right: 1.5rem;
}
.ml-20 {
  margin-left: 2rem;
}
.ml-15 {
  margin-left: 1.5rem;
}
/* 모바일버전 사이드 메뉴 */

#sideNav {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: #fff;
  transition: all 0.5s ease;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 400;
}

.sideNav-container {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.sideNav-container * {
  font-weight: 400;
}

#sideNavClose {
  display: flex;
  justify-content: flex-end;
  font-size: 4rem;
  line-height: 2.4rem;
  margin-bottom: 2rem;
}

.sideNav-menu {
  height: calc(100% - 10rem);
  overflow-y: auto;
  padding-right: 2rem;
}

.sideNav-menu > :first-child {
  border-top: 1px solid #ced6e0;
}

.sideNav-menu > li {
  padding: 2rem 0;
  font-size: clamp(1.6rem, 1.6vw, 1.8rem);
  white-space: nowrap;
  border-bottom: 1px solid #ced6e0;
}

.accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  transition: all 0.5s ease;
}

.accordion.active {
  border-bottom: 1px solid #ee3a3d;
  color: #ee3a3d;
}

.accordion .icon {
  font-size: 0.9rem;
  padding: 0 0.4rem 0 0;
  transition: all 0.3s ease;
}

.accordion.active .icon {
  transform: rotate(90deg);
  padding: 0.4rem 0 0 0;
  color: #ee3a3d;
  font-weight: bold;
}

.accordion-menu {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease;
}

.accordion-menu > li {
  padding: 0.8rem 2rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.accordion-menu > li:last-child {
  padding: 0.8rem 2rem 2rem;
}

.accordion-menu > li:first-child {
  padding: 2rem 2rem 0.8rem;
}

.sideNav-footer {
  height: 5.6rem;
}

.sideNav-footer img {
  height: 70%;
  float: right;
}

/* 기본*/

.wrapper {
  width: 100%;
  /* background-color: #31456a; */
  /* transition: margin-left 0.5s; */
}

#sideNavOpenFilter {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 300;
  width: 0;
}

section {
  overflow: hidden;
}

/* header */

header {
  width: 100%;
  height: 72px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  /* transition: top 0.5s ease, height 0.5s ease; */
  z-index: 9999;
}

.header-container {
  width: 100%;
  height: 100%;
  /* position: relative; */
  border-bottom: 1px solid #ced6e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  /* transition: height 0.5s ease; */
}
.slogan {
  margin-left: 1rem;
  padding-left: 0.75rem;
  border-left: 1px solid #ced6e0;
  border-radius: 2px;
  color: #939fb2;
  line-height: 1.25;
  font-size: 0.875rem;
  letter-spacing: 0;
  /* display: none; */
  height: fit-content;
}
.header-btns {
  display: flex;
  gap: 0.5rem;
}
.header-btn {
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  padding: 0 1rem;
  height: 3rem;
}
.header-btn.black-back {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.header-btn.red-back {
  background-color: #ee3a3d;
  color: white;
}
.header-group {
  position: relative;
  display: flex;
  width: fit-content;
  height: 100%;
  align-items: center;
}
#headerLogo {
  /* width: 9rem; */
  width: 6rem;
  height: 100%;
  transition: background 0.5s ease, width 0.5s ease;
  background: url("../../img/logo/itlog.svg") no-repeat;
  background-size: contain;
  background-position: center center;
  /* position: absolute; */
  /* bottom: 0; */
  /* left: 4rem; */
}

#headerLogo a {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

#headerNav {
  /* width: 45%; */
  /* min-width: 600px; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-title {
  width: 12rem;
  text-align: center;
}

.header-title a {
  width: 100%;
  padding: 2rem 0;
  font-size: 1.125rem;
  font-weight: 500;
  display: block;
  transition: color 0.3s ease;
  cursor: pointer;
}

.header-sub {
  position: absolute;
  width: 100%;
  height: 30rem;
  bottom: 13rem;
  background-color: transparent;
  transition: background-color 0.5s ease;
  border-bottom: 1px solid #ced6e0;
}

.header-sub * {
  opacity: 0;
  transition: opacity 0.5s ease;
}

header.mega-active {
  /* height: 9rem; */
  background-color: #fff;
  /* background-color: #31456a; */
}

.mega-active .header-container {
  border-bottom: 1px solid #fff;
}

.mega-active .header-sub {
  position: absolute;
  width: 100%;
  height: 26rem;
  bottom: -26rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  opacity: 1;
}

.mega-active .header-sub * {
  opacity: 1;
}

.mega-active .header-sub .no-list {
  /* width: 20rem; */
  height: 100%;
  border-top: 2px solid #ced6e0;
}

.mega-active .header-subList {
  /* width: 45%; */
  /* min-width: 600px; */
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* position: absolute; */
  /* left: 50%;
  transform: translateX(-50%); */
}

.mega-active .header-subList > :first-child {
  /* border-left: 1px solid #ced6e0; */
}

.mega-active .header-subList > div {
  width: 100%;
  height: 100%;
  /* text-align: center; */
  border-top: 2px solid #ced6e0;
  /* border-right: 1px solid #ced6e0; */
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.mega-active .header-subList .header-subTitle a {
  width: 12rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 0 2rem;
  height: 2.5rem;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

.mega-active .header-subList .header-subTitle a:hover {
  color: red;
}

.footer-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  .header-container {
    padding: 0 2rem;
  }
  .header-btns {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header-container {
    padding: 0 1rem;
  }
  /* .slogan {
    display: flex;
  } */
}
#topButton {
  position: fixed;
  width: 4rem;
  height: 4rem;
  bottom: -6rem;
  right: 2rem;
  background-color: rgba(0, 0, 0, 0.7);
  /* background-color: rgba(238, 58, 61, 1); */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 400;
  transition: bottom 1s ease;
  cursor: pointer;
  /* box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4); */
}

#topButton span {
  color: #fff;
  font-size: 2rem;
}

#topButton.top-active {
  bottom: 2rem;
}
#mobileConsulting {
  position: fixed;
  padding: 0 2rem;
  height: 3rem;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ee3a3d;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 400;
  cursor: pointer;
  /* box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4); */
}
#mobileConsulting span {
  color: white;
  font-size: 1.125rem;
  margin-right: 1rem;
  margin-left: 0.25rem;
}
#mobileConsulting img {
  /* height: 80%; */
  height: 60%;
  margin: 0;
}
#language {
  position: absolute;
  top: 50%;
  right: 4rem;
  transform: translate(0, -50%);
}

#language > :first-child {
  padding-bottom: 0.3rem;
}

#language p {
  color: #31456a;
  cursor: pointer;
}

#language .red {
  font-weight: bold;
}

footer {
  width: 100%;
  padding: 10rem 4rem 4rem;
  background: #011936;
}

.footer-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-container .footer-text {
  text-align: left;
}

.footer-text img {
  width: 9rem;
  margin-bottom: 0.6rem;
}

.footer-text h5,
.footer-text p {
  color: #f1f2f6;
}

.footer-text h5 {
  padding-bottom: 1rem;
}

.footer-text p {
  padding-bottom: 0.4rem;
}

.footer-text p:last-child {
  color: rgba(241, 242, 246, 0.5);
  padding-bottom: 0;
}

.footer-contact {
  margin-top: 2rem;
  display: flex;
}

.footer-contact img {
  width: 3.6rem;
  margin-right: 0.4rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
  display: block;
}

.footer-contact img:hover {
  opacity: 0.7;
}

.footer-contact button {
  border: 1px solid #ced6e0;
  padding: 0;
}

.footer-contact button a {
  color: #ced6e0;
  padding: 1rem 3rem;
  font-size: 1.3rem;
}

.footer-contact button:hover {
  background-color: #f1f2f6;
}

.footer-contact button:hover a {
  color: #011936;
}

/* 1366px 이하 */
@media screen and (max-width: 1365px) {
  /* body {
    font-size: clamp(1.3rem, 1.3vw, 1.4rem);
  }

  h1 {
    font-size: 3rem;
    line-height: clamp(5.7rem, 5.7vw, 6.1rem);
  } */
  /* 
  h2 {
    font-size: clamp(3.1rem, 3.1vw, 3.5rem);
  }

  h3 {
    font-size: clamp(2.3rem, 2.3vw, 2.5rem);
  }

  h4 {
    font-size: clamp(1.8rem, 1.8vw, 2rem);
  }

  h5 {
    font-size: clamp(1.6rem, 1.6vw, 1.8rem);
  }

  h6 {
    font-size: clamp(1.4rem, 1.4vw, 1.6rem);
  }

  p {
    font-size: clamp(1.3rem, 1.3vw, 1.4rem);
  }

  .sub-text {
    font-size: clamp(1.3rem, 1.3vw, 1.4rem);
  } */

  a,
  a:link,
  a:visited,
  a:hover,
  a:active,
  input,
  select,
  textarea {
    /* font-size: clamp(1.3rem, 1.3vw, 1.4rem); */
  }

  .show1366 {
    display: initial;
  }

  .hide1366 {
    display: none;
  }
}

/* 1024px 이하  */
@media screen and (max-width: 1023px) {
  .show1024 {
    display: inline-block;
  }

  .hide1024 {
    display: none;
  }

  #headerNav,
  .header-sub {
    display: none !important;
  }
  #sideNavOpen {
    position: absolute;
    top: 50%;
    right: 4rem;
    transform: translate(0, -50%);
  }
  #sideNavOpen .icon {
    color: #31456a;
    font-size: 2.4rem;
    transition: color 0.3s ease;
  }
}

/* 768px 이하 */
@media screen and (max-width: 767px) {
  .show768 {
    display: inline-block;
  }

  .hide768 {
    display: none;
  }

  #sideNavOpen {
    right: 2rem;
  }

  #language {
    right: 2rem;
  }

  footer {
    padding: 10rem 2rem 4rem;
  }

  .footer-container {
    display: block;
  }

  #topButton {
    width: 3rem;
    height: 3rem;
    right: 1rem;
    bottom: -4rem;
  }
  #topButton span {
    font-size: 1.5rem;
  }
  #topButton.top-active {
    bottom: 1rem;
    font-size: 1.5rem;
  }

  #topButton .icon {
    font-size: 1.5rem;
  }
}
