main {
  width: 100%;
  height: 20rem;
  position: relative;
}
#gate main {
  background: url("../../img/gate1.jpg") no-repeat;
  background-size: cover;
  /* background-position: right 60%; */
  background-position: right 10% top 20%;
}
#cctv main {
  background: url("../../img/cctv1.jpg") no-repeat;
  background-size: cover;
  background-position: center 80%;
}
#towercrane main {
  background: url("../../img/crane1.jpg") no-repeat;
  background-size: cover;
  /* background-position: center 44%; */
  background-position: 100% 0%;
}
#sensor main {
  background: url("../../img/sensor1.jpg") no-repeat;
  background-size: cover;
  background-position: center 25%;
}
#broadcast main {
  background: url("../../img/cast1.jpg") no-repeat;
  background-size: cover;
  background-position: center 10%;
}
.main-text {
  width: calc(100% - 8rem);
  max-width: 1200px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-text h2 {
  opacity: 0;
  color: #fff;
  animation: maintextH1 0.6s 0.3s ease forwards;
}
@keyframes maintextH1 {
  0% {
    opacity: 0;
    transform: translate(0, 8rem) rotate(10deg);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.main-text h5 {
  color: #fff;
  padding: 3rem 0;
  line-height: clamp(2rem, 2vw, 3rem);
  opacity: 0;
  transform: translateY(3rem);
  transition: opacity 0.7s, transform 1s;
  animation: maintextH4 0.6s 0.5s ease forwards;
}
@keyframes maintextH4 {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 1023px) {
  main {
    height: 16rem;
  }
  .main-text {
    top: 64%;
    width: calc(100% - 4rem);
  }
  .main-text h1 {
    font-size: 3rem;
  }
  .main-text h5 {
    padding-top: 1rem;
  }
}
@media screen and (max-width: 767px) {
  /* main {
    height: 16rem;
  } */
  #gate main {
    background: url("../../img/gate1.jpg") no-repeat;
    background-size: cover;
    /* background-position: right 60%; */
    background-position: right 10% top 80%;
  }
  .main-text {
    width: calc(100% - 2rem);
  }
}
/* 키포인트 */
#keyPoint {
  width: 100%;
  padding: 0 4rem;
  margin: 6rem 0;
}
.keyPoint-title {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2rem;
}
.keyPoint-contents {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* background-image: linear-gradient(
    145deg,
    rgb(241, 245, 249),
    rgb(247, 237, 237)
  ); */
  /* padding: 4rem 0; */
  border-radius: 2rem;
  overflow: hidden;
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr); */
  align-items: flex-start;
  gap: 2rem;
}
.keyPoint-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: fit-content;
  width: 14rem;
}
.keyPoint-img {
  width: 7rem;
  /* background-color: white; */
  background-color: rgb(248, 250, 252);
  border-radius: 1rem;
  padding: 1.25rem;
  flex-shrink: 0;
}
.keyPoint-img img {
  width: 100%;
}
.keyPoint-box-text {
  width: 100%;
}
.keyPoint-box h5 {
  padding-top: 1rem;
}
.keyPoint-box p {
  word-break: keep-all;
  font-size: 1.125rem;
  padding-top: 0.5rem;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.6);
  /* width: 20rem; */
}
@media screen and (max-width: 1365px) {
}
@media screen and (max-width: 1023px) {
  #keyPoint {
    padding: 0 2rem;
    margin: 4rem 0;
  }
  .keyPoint-title {
    /* padding-bottom: 2rem; */
    display: none;
  }
  .keyPoint-contents {
    gap: 1rem;
    flex-direction: column;
    padding: 2rem;
    background-image: linear-gradient(
      145deg,
      rgb(241, 245, 249),
      rgb(247, 237, 237)
    );
  }
  .keyPoint-box {
    flex-direction: row;
    text-align: left;
    width: 100%;
  }
  .keyPoint-img {
    background-color: white;
    width: 6rem;
    padding: 1.25rem;
  }
  .keyPoint-box-text {
    padding: 0 1.25rem;
    /* width: 100%; */
  }
  .keyPoint-box h5 {
    padding-top: 0;
  }
  .keyPoint-box p {
    font-size: 1rem;
    padding-top: 0.25rem;
  }
}
@media screen and (max-width: 767px) {
  #keyPoint {
    padding: 0 1rem;
    margin: 2rem 0;
  }
  .keyPoint-box {
    width: 100%;
  }
  .keyPoint-contents {
    padding: 1rem;
  }
  .keyPoint-img {
    background-color: white;
    width: 5rem;
    padding: 1rem;
  }
  .keyPoint-box-text h5 {
    font-size: 1.125rem;
  }
  .keyPoint-box-text p {
    width: 100%;
    padding: 0;
  }
}
/* 제품상세소개 */
#subProduct {
  width: 100%;
  padding: 0 4rem;
  margin: 6rem 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.subProduct-title {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  /* padding-bottom: 6rem; */
}
.subProduct-title h2 {
  padding-bottom: 0.5rem;
}
.subProduct-title h5 {
  padding-top: 1rem;
  color: rgba(0, 0, 0, 0.6);
  /* font-size: 2.2rem; */
  /* line-height: 3rem; */
}
.subProduct-contents {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.subProduct-box {
  /* background-color: #939fb2; */
  /* background-color: rgb(243, 244, 246); */
  background-color: rgb(248, 250, 252);
  overflow: hidden;
  border-radius: 2rem;
  display: flex;
  align-items: center;
}
.subProduct-box .subProduct-img,
.subProduct-box .subProduct-text {
  width: 50%;
  height: 28rem;
}
.subProduct-img {
  overflow: hidden;
  height: 100%;
  border-radius: 2rem;
  /* aspect-ratio: 4 / 3; */
  /* object-fit: contain; */
}
.subProduct-img img {
  width: 100%;
  height: 100%;
}
.subProduct-text {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subProduct-text .subProduct-left {
  align-items: center;
  justify-content: flex-end;
}
.subProduct-text small {
  text-transform: capitalize;
  color: #939fb2;
}
.subProduct-text h1 {
  color: #ee3a3d;
  /* color: #011936; */
}
.subProduct-text h4 {
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}
@media screen and (max-width: 1365px) {
  .subProduct-title {
    /* padding-bottom: 5rem; */
  }
  .subProduct-title p {
    padding-top: 2rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}
@media screen and (max-width: 1280px) {
  #subProduct {
    padding: 0 2rem;
    margin: 4rem 0;
  }
  .subProduct-text {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 767px) {
  #subProduct {
    padding: 0 1rem;
  }
  .subProduct-contents {
    gap: 4rem;
  }
  .subProduct-box {
    flex-direction: column;
    overflow: visible;
    background-color: transparent;
  }
  .subProduct-box .subProduct-img,
  .subProduct-box .subProduct-text {
    width: 100%;
  }
  .subProduct-box .subProduct-img {
    border-radius: 0.5rem;
    overflow: hidden;
    height: auto;
    aspect-ratio: 16 / 9;
    /* height: 16rem; */
  }
  .subProduct-box .subProduct-text {
    height: fit-content;
  }
  .subProduct-text p {
    display: none;
  }
  .subProduct-text {
    padding: 0;
    order: -9999;
  }
  .subProduct-text.text-right {
    padding: 0;
    order: -9999;
  }
  .subProduct-box .subProduct-text h4 {
    padding-bottom: 1rem;
  }
}
/* effect */
#effect {
  width: 100%;
  padding: 0 4rem;
  margin: 8rem 0;
}
.effect-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 4rem;
}
.effect-title {
  width: 30%;
}
.effect-title h2 {
  padding-bottom: 1rem;
}
.effect-title h2 span {
  word-break: keep-all;
}
.effect-title p {
  font-size: 1.125rem;
  word-break: keep;
  line-height: 1.5;
}
.effect-contents {
  width: 70%;
}
.effect-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
.effect-box {
  border-radius: 1rem;
  width: 100%;
  position: relative;
  background-color: #ee3a3d;
  opacity: 0;
  transition-property: transform, opacity !important;
}
.effect-box.aos-animate {
  opacity: 1;
}
.effect-box > div {
  width: 100%;
  padding: 2rem 1rem;
}
.effect-box hr {
  display: none;
}
.effect-box svg {
  width: 4rem;
  height: 4rem;
}
.effect-box h6 {
  font-weight: 500;
  padding: 0.25rem 0;
}
.effect-box p {
  word-break: keep-all;
  opacity: 0.8;
}
.effect-box > div * {
  color: #f1f2f6;
}
.effect-box.white-box {
  background-color: #fff;
  border: 2px solid #ee3a3d;
}
.effect-box.white-box * {
  color: #ee3a3d;
}
.effect-box.img-box > div {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
}
@media screen and (max-width: 1365px) {
  .effect-box svg {
    width: 3.5rem;
    height: 3.5rem;
  }
  .effect-box h6 {
    padding-top: 1rem;
  }
}
@media screen and (max-width: 1023px) {
  #effect {
    padding: 0 2rem;
  }
  .effect-container {
    display: block;
  }
  .effect-title {
    width: 100%;
    max-width: 410px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 4rem;
  }
  .effect-contents {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  /* .effect-grid {
    gap: 0.75rem;
  } */
}
@media screen and (max-width: 767px) {
  #effect {
    padding: 0 1rem;
  }
  .effect-contents {
    /* max-width: 500px; */
  }
  .effect-grid {
    grid-template-columns: repeat(2, 1fr);
    /* gap: 0.5rem; */
  }
}
@media screen and (max-width: 399px) {
  .effect-box svg {
    display: none;
  }
  .effect-box > div {
    padding: 1.5rem;
  }
}
/* 진행순서 */
#procedure {
  width: 100%;
  padding: 6rem 4rem;
  background: url("../../img/network1.jpg") no-repeat;
  background-size: cover;
  background-position: right 27%;
  position: relative;
}
/* #procedure .dark-filter {
} */
.procedure-contents {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 8rem 1fr 8rem 1fr;
  align-items: center;
  /* gap: 4rem; */
}
.procedure-arrow {
  filter: invert(1);
  width: 6rem;
  margin: 0 1rem;
  /* width: 14rem; */
  /* width: 100%; */
  /* transform: rotate(3deg) translateX(-2.5rem); */
}
.procedure-box {
  text-align: center;
  flex-grow: 1;
  backdrop-filter: blur(16px);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 4rem 0;
  border-radius: 1rem;
}
.procedure-box img {
  width: 6rem;
}
.procedure-box h5 {
  color: #fff;
  padding: 1rem 0;
  font-weight: 400;
}
.procedure-box p {
  color: #fff;
  font-weight: 300;
  opacity: 0.9;
}
@media screen and (max-width: 1023px) {
  #procedure {
    padding: 6rem 2rem;
  }
  .procedure-contents {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .procedure-arrow {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #procedure {
    display: none;
  }
}
